html, body {
    background-color: Plum;
    overflow: auto;
}

button {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    width: 30vh;
    height: 10vh;
    margin: 4%;
    transition: 0.2s;
    font-style: normal;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

button:active {
    transform: scale(1.0);
}

.good {
    border: 2px solid GreenYellow;
    background-color: lightyellow;
}

.mid {
    border: 2px solid lightslategray;
    background-color: lightgrey;
}

